.web-footer {
    background-color: rgba(47, 48, 58, 1);
    padding-top: 60px;
    padding-bottom: 60px;
    }
    
.footer-first-part {
    display: flex;
    align-items: baseline;
    }
    
.footer-sec-part {
    margin-left: 70px;
}