.web-footer {
    background-color: rgba(47, 48, 58, 1);
    padding-top: 60px;
    padding-bottom: 60px;
    }
    
.footer-first-part {
    margin-bottom: 60px;
    }
    
.footer-sec-part {
    margin-bottom: 60px;
}

.ftr-flex-wrapper {
    text-align: center;
}

@media screen and (min-width: 768px){
    .ftr-flex-wrapper {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1200px){

    .ftr-flex-wrapper {
        display: flex;
        align-items: baseline;
    }
    
    .footer-first-part {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        }
        
    .footer-sec-part {
        margin-left: 70px;
    }


}