.hero-section {
    background-color: rgba(196, 196, 196, 1);
    text-align: center;
    display: block;
    padding-top: 118px;
    padding-bottom: 118px;
    }

    .headline {
        color: white;
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        margin-bottom: 30px;
    }
    
.overlay {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/bgimg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }

    @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .overlay {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/bgimg@2x-mobile.jpg);
    }
  }




  @media screen and (min-width: 768px) {
    .overlay {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/bgimg-tablet.jpg);
  }
}

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .overlay {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/bgimg@2x-tablet.jpg);
    }
  }




  @media screen and (min-width: 1200px) {
    .overlay {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/bgimg.jpg);
    }

    .headline {
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }

    .hero-section {
        padding-top: 200px;
        padding-bottom: 200px;
    }
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .overlay {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/bgimg@2x.jpg);
    }
  }

  


