.sub-form {
    display: flex;
    flex-direction: column;

    margin-left: auto;
}

.sub-svg {
margin-left: 10px;
fill: var(--second-bg-color);
}

@media screen and (min-width: 1200px) {
    .sub-form {
        align-items: baseline;
    }
}