.main-work {
    background-color: var(--second-bg-color);
    padding-top:0;
}

.work-photo {
    display: flex;
    justify-content: center;
}


.item {
    position: relative;

    .footer-adress &:not(:last-child) {
        margin-bottom: 9px;
    }

    .work-photo &:not(:last-child) {
    margin-right: 30px;
    }

}

@media screen and (max-width: 1199px) {
    .main-work {
        display: none;
    }
}