.main-work {
    background-color: var(--second-bg-color);
    padding-top:0;
}

.work-photo {
    display: flex;
    justify-content: center;
}


.item {
    position: relative;

    .footer-adress &:not(:last-child) {
        margin-bottom: 9px;
    }

    .benefits-list & {
        flex-basis: calc((100% - 90px)/4);
    }

    .work-photo &:not(:last-child) {
    margin-right: 30px;
    }

}