.logo{
    color: var(--accent-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    }

.logo-second {
color: rgba(0, 0, 0, 1);
}

.logo-second__theme-dark {
    color: rgba(255, 255, 255, 1);
}
