:root {
    --accent-color: rgb(33, 150, 243);
    --primary-text-color: #757575;
    --header-text-color: #212121;
    --main-bg-color: rgb(245, 245, 245);
    --second-bg-color: #FFFFFF;
    --primary-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;
    --logo-second-font: 'Oleo Script', cursive;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1)

}